APP_VERSION="0.0.1"
APP_NAME="Example FastAPI App"
APP_DESCRIPTION="Example FastAPI application"
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5434/gis_db"
DATABASE_POOL_SIZE="5"
DATABASE_MAX_OVERFLOW="5"
